html,body,.App,#root{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background:url('./Images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
}


/* HIDE ARROWS IN INPUT FIELD */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}